<%= form_for @fashion do |f| %>
    <div class="edit">Edit Form</div><br>
    <%= f.label :Text %>
    <%= f.text_field :body, :size => 140 %> 
    <div class="edit-btn">
      <%= f.submit "EDIT" %>
      <%= link_to "HOME", fashions_path %>
    </div>
<% end %>
