<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
    <p class="title">Post Form</p>
    <%= form_for(@fashion, :url => { controller:'fashions', action:'create'})do |f| %>
    <%= f.label :Contents %>
        <br>
        <%= f.text_field :body,size: 140%>
        <br>
      <div class="field">
        <div class="image">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
        <br>
        <div class="tag">
          <%= f.label :Tagging %>
          <%= f.text_field :tag_list %>
        </div>
      </div>
    <%= f.submit "Submit"%>
    <br>
    <% end %>
</div>